body {
  background-image: url('./bg.webp');
  background-repeat: no-repeat;
  background-size: 66vh 100vh;
  margin: 0px;
  background-color: black;

  display: flex;
  align-items: center;
}


.imgbox {
  width: 66vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#attribution {
  width: min(100vw, 66vh);
  position: fixed;
  color: gray;
  background-color: #ffffff10;
  text-align: center;
}
#attribution a {
  color: gray;
  text-decoration: none;
}

.signup-forms {
  height: 300px;
  width: min(100vw, 600px);
  color: white;
}