body {
  background-image: url('./bg.webp');
  background-repeat: no-repeat;
  background-size: 66vh 100vh;
  margin: 0px;
  background-color: black;

  display: flex;
  align-items: center;
  box-sizing: border-box;
}


.imgbox {
  width: 66vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#attribution {
  width: min(100vw, 66vh);
  position: fixed;
  color: gray;
  background-color: #ffffff10;
  text-align: center;
}
#attribution a {
  color: gray;
  text-decoration: none;
}

.signup-forms {
  margin: 12px 12px;
  width: min(90vw, 448px);
  color: white;
  background-color: rgba(00, 00, 00, 60%);

  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;
}
.input-container {
  display: flex;
}
.signup-forms input {
  border: 2px solid turquoise;
  border-radius: 5px;
  width: 200px;
  height: 25px;
  margin-top: 3px;
}

.top-info, .bottom-info {
  margin: 24px;
  width: min(90vw, 448px)
}